<!DOCTYPE html>
<html lang="ru">

<head>
	{% block title %}<title>Portfolio</title>{% endblock %}
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>

<body>
	{% block topbar %}
	<table class="topbar-menu">
		<tr>
			<td><a href="{% url 'index' %}">Home</a></td>
			<td><a href="{% url 'project-list' %}">All projects</a></td>
			<td><a href="{% url 'api-list' %}">APIs</a></td>
			<td><a href="http://127.0.0.1:8000/admin">Admin</a></td>
		</tr>
	</table>
	{% endblock %}
	{% block content %}{% endblock %}

	{% block pagination %}
	{% if is_paginated %}
	<div class="pagination">
		<span class="page-links">
			<p>
				{% if page_obj.has_previous %}
				<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
				{% else %}
				<span style="color: black">previous</span>
				{% endif %}
				{% for i in page_obj.paginator.page_range %}
				{% if i == page_obj.number %}
				<b>{{i}}</b>
				{% else %}
				<a href=" {{ request.path }}?page={{ i }}">{{i}}</a>
				{% endif %}
				{% endfor %}
				{% if page_obj.has_next %}
				<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
				{% else %}
				<span style="color: black">next</span>
				{% endif %}
			</p>
		</span>
	</div>
	{% endif %}
	{% endblock %}
</body>

<footer>
	<hr>
	Me
</footer>

</html>