{% extends "base_generic.html" %}
{% block content %}
<p>Total projects: {{ num_projects }}</p>
<hr>
<h1>Recent projects:</h1>
{% if project_list %}

<ul>
	{% for project in project_list %}
	<li>
		<a href="{{ project.get_absolute_url }}"> {{ project.get_prettier_name }}</a>
	</li>
	{% endfor %}
</ul>

{% else %}
<p color="red"> No projects :c </p>
{% endif %}

{% endblock %}