{% extends "base_generic.html" %}
{% block content %}
<p>Total apis: {{ num_apis }}</p>
<hr>
<h1>Recent pain:</h1>
{% if api_list %}

<ul>
	{% for api in api_list %}
	<li>
		<a href="{{ api.get_absolute_url }}"> {{ api.pretty_name }}</a>
	</li>
	{% endfor %}
</ul>

{% else %}
<p color="red"> No apis :c </p>
{% endif %}

{% endblock %}