{% extends "base_generic.html" %}

{% load my_page_extras %}

<head>
	{% block title %}<title>{{ project.get_prettier_name }}</title>{% endblock %}
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/markdown.css' %}">

</head>

{% block content %}
<h1>{{ project.get_prettier_name }}</h1>
<hr>
{{ project.description | convert_markdown | safe }}
{% endblock %}