.topbar-menu {
	font-size: 1.8em;
}

.topbar-menu a {
	color: black;
	outline: none;
	text-decoration: none;
	margin: 10px;
}

.topbar-menu a:hover {
	color: blueviolet;
}

code {
	color: blueviolet;
	background: lightgrey;
}

a {
	color: blueviolet;
	text-decoration: none;
}

a:hover {
	text-decoration: underline 2px black;
}